* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}

.container {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 1rem;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cell{
    width: 100px;
    height: 100px;
    background-color: #d9d9d9;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover{
     background-color: #b6b6b6;
}

.winning-cell{
    background-color:  #d4edda;
    border-color: #c3e6cb;
}

.score-board{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 15px;
    background-color: #dfe5e8;
    border-radius: 8px;
}

.score {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    min-width: 120px;
}

.player-x {
    background-color: rgba(231, 76, 60, 0.1);
}

.player-0 {
    background-color: rgba(52, 152, 219, 0.1);
}

.player-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.score-value .scoreX {
    color: #e74c3c;
}

.score-value #score0 {
    color: #3498db;
}