* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}

.container {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 1rem;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cell{
    width: 100px;
    height: 100px;
    background-color: #e7e7e7;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cell:hover{
     background-color: #e1e1e1;
}

.winning-cell{
    background-color:  #cfead6;
    border-color: #c3e6cb;
}

.winning-cell:hover {
    background-color:  #d3f1da !important;
    border-color: #c3e6cb;
}


.score-board{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 15px;
    background-color: #dfe5e8;
    border-radius: 8px;
}

.score {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    min-width: 120px;
}

.player-x {
    background-color: rgba(231, 76, 60, 0.1);
}

.player-0 {
    background-color: rgba(52, 152, 219, 0.1);
}

.player-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.score-value-x {
    color: #e74c3c;
    font-weight: bold;
}

.score-value-0 {
    color: #3498db;
    font-weight: bold;
}

.status {
    font-size: 1.2 rem;
    margin-bottom: 20px;
    color:#333
}

.controls {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px
}

button {
    padding: 10px 16px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.2s;
}

#restartButton {
    background-color: rgb(54, 149, 54);
}

#switchMode {
    background-color: #3498db;
}

#restartButton:hover {
    background-color: rgb(79, 182, 79);
}

#switchMode:hover {
    background-color:  #4faeed;
}